# Compiled Java files
*.class
*.jar

# Eclipse / IntelliJ IDE files
/.settings/
/.idea/
/*.iml
/bin/
/out/

# SAP PowerDesigner files
*.pdm
*.cdm
*.bpm
*.xml

# Word / Office documents
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx

# Temporary / OS files
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
